<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Blog" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Blog" %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <main role="main">
    <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
    <footer class="footer bg-dark text-white">
      <blockquote class="blockquote text-center">
        <p class="mb-0"> Pour me contacter c'est par là <i class="fa fa-chevron-right mr-5 ml-2"></i> <a class="btn-lg btn-outline-light" href="https://www.linkedin.com/in/daouda-katchala-mele-3344b6158/"><i class="fa fa-linkedin" aria-hidden="true"></i></a><br/></p>
        <footer class="blockquote-footer">Auteur: Daouda KATCHALA MELE_________<cite>Développeur Web</cite></footer>
      </blockquote>
    </footer>
  </body>
</html>
